.stats {
   padding: 30px 0px 150px;
}

.stats__inner {
   display: flex;
   justify-content: space-between;
}

.stats__item {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.stats__item-label {
   font-weight: 500;
   font-size: 66px;
   line-height: 80px;
   display: block;
   position: relative;
   padding-left: 20px;
}

.stats__item-label::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 1px;
   background: var(--light-gray-color);
}

@media (max-width: 910px) {
   .stats {
      padding: 10px 0px 100px;
   }
   .stats__inner {
      flex-direction: column;
      gap: 30px;
   }
}

@media (max-width: 640px) {
   .stats__item-label {
      font-size: 35px;
      line-height: 42px;
   }

   .stats__item-text {
      font-size: 16px;
      line-height: 24px;
   }
}