.signUp {
   padding: 40px;
   position: relative;
}

.signUp__close {
   position: absolute;
   right: 15px;
   top: 15px;
   transition: .2s;
}

.signUp__close:hover {
   transform: rotate(180deg);
}

.signUp__top {
   display: flex;
   gap: 14px;
   align-items: center;
   justify-content: center;
   margin-bottom: 40px;
}

.signUp__title {
   font-weight: 600;
   font-size: 30px;
   line-height: 36px;
}

.signUp__form {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.signUp__form-button {
   padding: 15.5px;
   font-size: 16px;
   line-height: 19px;
}

.signUp__form-alternative {
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.02em;
   display: flex;
   gap: 5px;
   justify-content: center;
}

.signUp__form-alternative-btn {
   color: #694DD8;
}