.item {
   display: flex;
   justify-content: space-between;
   padding: 10px 15px 10px 10px;
   border: 1px solid var(--light-gray-color);
   align-items: center;
   border-radius: 10px;
   font-weight: 500;
   line-height: 19px;
}

.item__username {
   display: flex;
   align-items: center;
   gap: 20px;
}

.item__username-nick-wrapper {
   display: flex;
   gap: 7px;
   align-items: center;
}

.item__username-nick-rank {
   font-weight: 500;
   font-size: 10px;
   line-height: 12px;
   text-transform: uppercase;
   border: 1px solid var(--light-gray-color);
   border-radius: 10px;
   padding: 3px 7px;
}

.item__btn {
   padding: 10px 20px;
   font-weight: 500;
   line-height: 19px;
   letter-spacing: 0.02em;
   flex: 0 0 auto;
}

.item__username-avatar {
   border-radius: 10px;
   object-fit: cover;
}

@media (max-width: 500px) {
   .item__username-nick {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100px;
   }
}

@media (max-width: 470px) {
   .item__username-nick-wrapper {
      flex-wrap: wrap;
   }
   .item__username-nick {
      max-width: 100%;
      width: 100%;
   }
}

@media (max-width: 430px) {
   .item__username-nick {
      max-width: 80px;
   }
}