.button {
   display: block;
   background: var(--purple-color);
   border-radius: 10px;
   letter-spacing: 0.02em;
   font-weight: 600;
   font-size: 12px;
   line-height: 15px;
   transition: .15s;
}

.button:hover {
   background: #5A37E1;
}

.button:disabled {
   background: #232328;
   color: #3D3D40;
   border-color: #232328;
   cursor: not-allowed;
}