.inner {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 40px;
}

.load__more {
   padding: 17.5px 50px;
   font-weight: 600;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   border: 1px solid var(--light-gray-color);
   border-radius: 10px;
   margin: 0 auto;
   display: block;
   width: fit-content;
}

.load__more:hover {
   background-color: var(--purple-color);
   transition: .2s;
}