.intro {
   /* background-image: url('/images/homeIntroBg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center; */
   display: flex;
   align-items: center;
   min-height: calc(100vh - var(--top-offset));
   min-height: calc(100dvh - var(--top-offset));
   position: relative;
}

.intro::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, .3); 
   z-index: 1;
   pointer-events: none;
}

.intro::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 50%;
   background: linear-gradient(180deg, rgba(0,0,0,0), var(--bg-color)); 
   z-index: 1;
   pointer-events: none;
}

.intro__inner {
   position: relative;
   z-index: 2;
}

.intro__label {
   background: rgba(85, 53, 211, 0.75);
   border-radius: 5px;
   padding: 5px 10px;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   display: block;
   margin-bottom: 20px;
   width: fit-content;
}

.intro__title {
   max-width: 564px;
   font-weight: 500;
   font-size: 66px;
   line-height: 80px;
   width: 100%;
   margin-bottom: 25px;
}

.intro__text {
   font-size: 18px;
   line-height: 24px;
   max-width: 480px;
   margin-bottom: 25px;
}

.intro__button {
   padding: 15.5px 20px;
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
   position: relative;
   z-index: 2;
}

@media (max-width: 980px) {
   .intro {
      min-height: calc(100vh - var(--top-offset));
      min-height: calc(100dvh - var(--top-offset));
   }
}

@media (max-width: 640px) {
   .intro {
      padding: 20px 0px;
   }

   .intro__title {
      font-size: 35px;
      line-height: 42px;
   }

   .intro__text {
      font-size: 16px;
      line-height: 22px;
   }
}