.title-section {
   margin-bottom: 50px;
}

.mode__inner {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
   gap: 48px;
}

@media (max-width: 440px) {
   .mode__inner {
      grid-template-columns: 1fr;
   }
}