.menu__list {
   list-style: none;
   padding: 0px 20px;
}

.menu__list-link {
   display: flex;
   align-items: center;
   gap: 13px;
   font-weight: 500;
   line-height: 19px;
   transition: .2s;
   padding: 10px;
   background-color: transparent;
   border-radius: 5px;
}

.menu__list-link:hover {
   background-color: #38383F;
}