.menu__list {
   display: flex;
   flex-direction: column;
   gap: 20px;
   list-style: none;
}

.menu__list-link {
   display: flex;
   align-items: center;
   gap: 13px;
   font-weight: 500;
   line-height: 19px;
   transition: .15s;
}

.menu__list-link:hover {
   color: var(--purple-color);
}