.sidebar {
   position: fixed;
   right: 0;
   top: 0;
   background-color: var(--header-bg-color);
}

.sidebar__tab {
   display: flex;
   gap: 25px;
   padding: 0px 30px;
   background-color: var(--sidebar-bg-color);
}

.sidebar__tab-btn {
   padding: 21px 0 20px;
   text-transform: uppercase;
   line-height: 19px;
   font-weight: 500;
   color: var(--input-color);
   position: relative;
   transition: .15s;
}

.sidebar__tab-btn.active {
   color: #fff;
}

.sidebar__tab-btn::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: var(--purple-color);
   bottom: 0;
   right: 0;
   left: 0;
   opacity: 0;
   pointer-events: none;
   transition: .15s;
}

.sidebar__tab-btn.active::before {
   opacity: 1;
}