.header {
   background-color: var(--header-bg-color);
}

.header__inner {
   padding: 15px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__left {
   display: flex;
   gap: 40px;
   align-items: center;
   flex: 1 0 auto;
}

.header__left-info {
   display: flex;
   gap: 15px;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   margin-right: 46px;
}

.header__right {
   display: flex;
   gap: 15px;
   align-items: center;
}

.header__right-status {
   display: flex;
   gap: 10px;
   align-items: center;  
}

.header__right-status-circle {
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background-color: #00A624;
}

.header__right-btn {
   text-transform: uppercase;
   padding: 17px 20px;
}

.header__right-login {
   background: var(--light-gray-color);
   border: 2px solid var(--light-gray-color);
}

.header__right-login:hover {
   background: transparent;
   color: inherit;
}

.header__left-menu {
   display: flex;
   list-style: none;
   gap: 40px;
   font-weight: 500;
   line-height: 19px;
}

.header__left-link--prime {
   display: flex;
   gap: 5px;
   color: var(--purple-color);
   align-items: center;
}