html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: inherit;
}

button {
   border: none;
   background: none;
   font-family: inherit;
   color: inherit;
   margin: 0;
   padding: 0;
   cursor: pointer;
   font-size: inherit;
   font-weight: inherit;
}

input {
   font-family: inherit;
   border: none;
   background: none;
   outline: none;
   color: inherit;
   font-size: inherit;
}

input::placeholder {
   font-family: inherit;
   color: inherit;
   font-size: inherit;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

* {
   box-sizing: border-box;
}

:root {
   --bg-color: #0E0E10;
   --header-bg-color: #18181B;
   --sidebar-bg-color: #1F1F23;
   --light-gray-color: #2A2A2D;
   --input-color: #3D3D40;
   --purple-color: #694DD8;
}

html, body, #__next {
   height: 100%;
}

body {
   background-color: var(--bg-color);
   background-color: var(--bg-color);
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   color: #fff;
}

body.popup-open {
   padding-right: 6px;
   overflow: hidden;
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-thumb {
   background-color: var(--purple-color);
}

.modal__animation-enter {
   animation: show-modal-bg .5s forwards;
}

.modal__animation-exit {
   animation: show-modal-bg .5s forwards reverse;
}

.modal__animation-enter > div {
   animation: show-modal .5s forwards;
}

.modal__animation-exit > div {
   animation: show-modal .5s reverse;
}

@keyframes show-modal {
   0% {
      opacity: 0;
      transform: translateY(-20rem) scale(.2);

   }
   50% {
      opacity: 1;
   }
   100% {
      transform: translateY(0) scale(1);
   }
}

@keyframes show-modal-bg {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

div.require-tooltip {
   background: var(--purple-color);
   padding: 10px;
   margin: 0;
   border-radius: 7px;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.02em;
}

div.require-tooltip-arrow {
   top: calc(100% + 2px);
   transform: translateY(-100%) rotate(45deg);
   width: 19px;
   height: 19px;
   z-index: -1;
}

.murly5wwiq8a {
   display: none;
}